/* gives site background colour */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5pt;
}

/* styles title and layers title on image */
.titletext {
    position: absolute;
    color: white;
    font-size: 34pt;
    top: 58%;
    left: 33%;
}

/* removes underlines from links */
a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    text-decoration: none;
    color: blue;
}

/* centers navbar */
.topnav {
    width: 100%;
    padding-left: 2px;
}

/* styles navbar horizontally */
#home, #story, #contact {
    box-sizing: border-box;
    display: inline-block;
    font-size: 15pt;
    height: 20pt;
}

/* creates lines between buttons */
#story {
    border-left: 1px black solid;
    border-right: 1px black solid;
}

/* spaces buttons apart */
#home, #story {
    padding-top: 3pt;
    padding-left: 72pt;
    padding-right: 72pt;
}

/* since the word "contact" is long, I used different padding */
#contact {
    padding-top: 3pt;
    padding-left: 60pt;
    padding-right: 60pt;
}

/* centers content container and adds width, background colour */
.center {
    width: 71%;
    margin: auto;
    background-color:#D4E9E7;
}

.container {
    position: relative;
}

/* aligns headings to left */
h1, h2, h3 {
    text-align: left;
}

/* sets heading size and spacing */
.lifeof {
    font-size: 18pt;
    padding: 5pt;
    padding-top: 20pt;
} 

/* sizes article image */
.zoomimage {
    float: left;
    width: 130pt;
    height: 130pt;
    padding: 5pt;
    padding-right: 10pt;
}

/* sets paragraph size and spacing */
p {
    font-size: 10pt;
    padding: 8pt;
    padding-right: 15pt;
}

/* sets subheading size and spacing*/
h2 {
    font-size: 15pt;
    padding-bottom: 10pt;
}

/* styles items in list */
.factlist {
    padding-left: 5pt;
    padding-top: 10pt;
}

/* forces bullets into div */
li.listitem {
    list-style-position: inside;
    font-size: 10pt;
}

/* spaces form after facts list */
.contactform {
    padding: 5pt;
    padding-top: 15pt;
    padding-bottom: 10pt;
}

/* adds border around form */
.formbox {
    padding: 5pt;
    box-sizing: border-box;
    border-color: black;
    border-style: solid;
    border-width: 1pt;
    width: 98%;
    margin: auto; 
}

/* sizes message input box */
textarea {
    padding: 15pt 2pt;
}

/* splays form across page */
.inputbox {
    width: 98%;
}

/* spaces form elements */
.nametext {
    padding-top: 15pt;
    font-size: 10pt;
}

.emailtext, .messagetext {
    padding-top: 10pt;
    font-size: 10pt;
}

.nameinput, .emailinput, .messageinput {
    padding-top: 5pt;
}

.visitquestion {
    padding-top: 10pt;
    padding-left: 6px;
}

.visitanswer {
    padding-top: 15pt;
    font-size: 10pt;
}

.sendbutton {
    padding-top: 10pt;
    padding-bottom: 6pt;
}

fieldset {
    padding-left: 5pt;
}

/* removes border around name input and email input */
input {
    border-style: none;
}

/* styles send button */
.submit {
    padding: 5pt;
    background: none;
    border-style: solid;
    border-width: 1pt;
    font-size: 7pt;
}

/* spaces and aligns footer copyright */
footer {
    text-align: right;
    padding-bottom: 15pt;
    padding-top: 15pt;
}