/* gives site background colour */
body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5pt;
}

/* styles navbar horizontally */
nav ul li {
    display: inline-block;
    overflow: hidden;
}

/* removes underlines from links */
a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

/* styles title */
.titletext {
    position: relative;
    text-align: center;
    color: white;
    font-size: 34pt;
}

/* centers content container and adds width, background colour */
.center {
    width: 70%;
    margin: auto;
    background-color:#D4E9E7;
}

.container {
    position: relative;
}

/* aligns headings to left */
h1, h2, h3 {
    text-align: left;
}

/* sets heading size and spacing */
.lifeof {
    font-size: 18pt;
    padding: 5pt;
} 

/* sizes article image */
.zoomimage {
    float: left;
    width: 130pt;
    height: 130pt;
    padding: 5pt;
    padding-right: 10pt;
}

/* sets paragraph size and spacing */
p {
    font-size: 10pt;
    padding: 8pt;
    padding-right: 15pt;
}

/* sets subheading size and spacing*/
h2 {
    font-size: 15pt;
    padding-bottom: 10pt;
}

/* styles items in list */
.factlist {
    padding-left: 5pt;
    padding-top: 10pt;
}

li.listitem {
    list-style-position: inside;
    font-size: 10pt;
}

/* spaces form after facts list */
.contactform {
    padding-left: 5pt;
    padding-top: 20pt;
}

.messagebox {
    height: 2000px;
}

.form {
    padding: 5pt;
}

.sendbutton {
    padding: 10pt;
}

.submit {
    padding: 5pt;
    background: none;
    border-style: groove;
    border-width: 1pt;
    font-size: 7pt;
}

footer {
    text-align: right;
    padding-bottom: 15pt;
}

.form {
    border-style: groove;
    border: 1px;
    border-color: black;
}