body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #222;
    text-align: center;
}

#logo {
    float: left;
}

.navitem {
    text-decoration: none;
    color: #c78c06;
    padding: 10px;
}

.search-button {
    border: #c78c06 1px solid;
    background-color: #222;
    color: #c78c06;
}

/* a:link, a:visited {
    text-align: center;
} */

a:hover, a:active {
    background-color: #c78c06;
    color: #222;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}
.welcome {
    width: 100%;
    height: 100%;
    background-image: url('/images/main-banner.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcometext {
    padding-top: 40px;
    padding-bottom: 10px;
    background: rgba(34, 34, 34, 0.6);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.welcometitle {
    padding-bottom: 25px;
}

.welcomep {
    padding-top: 10px;
    padding-bottom: 10px;
}

.about {
    width: 100%;
    padding: 10px;
    background-color: #ffe6ac;
}

.about-image {
}

.abouttitle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutp1 {
    padding-bottom: 20px;
}

.aboutp2 {
    padding-bottom: 20px;
}